/* $Id$ */

tr.pift-pass {
  background-color: #99FF99 !important;
}

tr.pift-fail {
  background-color: #FF9999 !important;
}

tr.pift-retest {
  background-color: #FFFF77 !important;
}

div.pift-server-warning, span.pift-server-warning {
  font-weight: bold;
  color: red;
}